{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{Movie.img.url}}"width="400px"height="400px">
        </div>

<div class="col-md-3">
    <h4> {{Movie.name}}</h4>
    {{Movie.desc}}<br>
    {{Movie.year}}
    <br>
<a class="btn btn-warning" href="{% url 'webapp:update' Movie.id %}">update</a>


<a class="btn btn-danger" href="{% url 'webapp:delete' Movie.id %}">delete</a>
</div>


{% endblock %}
 </div>

</div>